

.homeP {
	width: 100%;
	height: 92vh;
	/* background-color: gray; */
    background: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669948713/onlineResumePortfolio/bg_scewbe.gif") center center/cover no-repeat;
    /* background: url("../images/bg.gif") no-repeat fixed center; */
    color: #06d6a0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homeP-bg {
	width: 100%;
	height: 92vh;
	background-color: #17032d;
}

    .home-a {
        width: 50%;
        height: 92vh;
        justify-content: center;

        /* background-color: blueviolet; */
    }

        .home-a-a {
            width: 100%;
            height: 40vh;

            /* background-color: deeppink; */
        }

            .home-a-a h1 {
                font-size: 100px;
            }

            .home-a-a h2 {
                font-size: 30px;
            }

            .home-a-a p {
                font-size: 40px;
            }

        .home-a-b {
            width: 100%;
            height: 20vh;

            align-items: center;

            /* background-color: skyblue; */
        }

    .home-b {
        width: 30%;
        height: 92vh;

        /* background-color: darkred; */
    }

        .home-b-card {
            width: 95%;
            height: 85vh;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 50px;
            border: 1px solid #06d6a0;

            background-color: #17032d;
        }

            .home-b-card-pic {
                width: 35vh;
                height: 35vh;
                border-radius: 50%;
                background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945972/onlineResumePortfolio/aboutMePic01-b_ppacmg.jpg");
                background-size: 35vh 35vh;
                transition: 0.3s;

                -webkit-box-shadow: 30px 30px 100px 10px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 30px 30px 100px 10px rgba(0, 0, 0, 0.5);
                box-shadow: 30px 30px 100px 10px rgba(0, 0, 0, 0.5);

                /* background-color: orangered; */
            }

            .home-b-card-pic:hover {
                background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945935/onlineResumePortfolio/aboutMePic01_snvmx1.jpg");
                transition: 0.3s;
                border-radius: 5vh;
            }

            .home-b-card-content {
                width: 100%;
                height: 18vh;

                /* background-color: palevioletred; */
            }

                .home-b-card-content h2 {
                    font-size: 37px;
                }

                .home-b-card-content p {
                    font-size: 20px;
                    text-align: center;
                }

            .home-b-card-btns {
                width: 100%;
                height: 18vh;
                justify-content: space-evenly;
                align-items: center;
                -webkit-border-radius:40vh 40vh;
                -moz-border-radius:40vh 40vh;
                border-radius: 0 0 40vh 40vh;
                border-top: 1px solid #06d6a0;

                /* background-color: mediumvioletred; */
            }

                .home-b-card-btns-a {
                    width: 10vh;
                    height: 10vh;
                    font-size: 40px;
                    transition: 0.8s;
                    
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    /* background-color: yellow; */
                }

                    .home-b-card-btns-a a {
                        color: #06d6a0;
                        font-size: 40px;
                        transition: 0.8s;
                    }

                    .home-b-card-btns-a a:hover {
                        color: #ef476f;
                        transition: 0.8s;
                    }





























@media screen and (max-width: 480px)  and (min-width: 300px) {
    .homeP {  
        height: 122vh;
        background: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946161/onlineResumePortfolio/bg2_yjzacs.gif") no-repeat;
        background-size: 100% auto;
        background-position: 50% 1%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .homeP-bg {
        width: 100%;
        height: 120vh;
        background-color: #17032d;
    }

        .home-a {
            width: 80%;
            height: 30vh;
            justify-content: center;

            /* background-color: blueviolet; */
        }

            .home-a-a h1 {
                font-size: 60px;
            }

                .home-a-a h1 {
                    font-size: 25px;
                }

                .home-a-a h2 {
                    font-size: 20px;
                }

                .home-a-a p {
                    font-size: 10px;
                }

        .home-b {
            width: 80%;
            height: 80vh;
    
            /* background-color: darkred; */
        }

            .home-b-card {
                width: 95%;
                height: 70vh;
            }

                .home-b-card-content h2 {
                    font-size: 25px;
                }
            
                .home-b-card-content p {
                    font-size: 18px;
                }

                .home-b-card-pic {
                    background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945935/onlineResumePortfolio/aboutMePic01_snvmx1.jpg");
                    width: 20vh;
                    height: 20vh;
                    background-size: 20vh 20vh;
                    border-radius: 20vh;
                }

                .home-b-card-btns-a {
                    font-size: 30px;
                }
}
                
                
                
@media screen and (max-width: 768px)  and (min-width: 481px) {
    

    .homeP {  
        height: 122vh;
        background: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946161/onlineResumePortfolio/bg2_yjzacs.gif") no-repeat;
        background-size: 100% auto;
        background-position: 50% 15%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .homeP-bg {
        width: 100%;
        height: 122vh;
        background-color: #17032d;
    }

        .home-a {
            width: 80%;
            height: 32vh;
            justify-content: center;

            /* background-color: blueviolet; */
        }

            .home-a-a h1 {
                font-size: 50px;
            }
            .home-a-a p {
                font-size: 20px;
            }

        .home-b {
            width: 80%;
            height: 70vh;
    
            /* background-color: darkred; */
        }

            .home-b-card {
                width: 95%;
                height: 70vh;
            }

                .home-b-card-content h2 {
                    font-size: 30px;
                }
            
                .home-b-card-content p {
                    font-size: 20px;
                }

                .home-b-card-pic {
                    background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945935/onlineResumePortfolio/aboutMePic01_snvmx1.jpg");
                    width: 20vh;
                    height: 20vh;
                    background-size: 20vh 20vh;
                    border-radius: 20vh;
                }
}



@media screen and (max-width: 1024px) and (min-width: 769px) {
    .homeP {  
        height: 75vh;
        background: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669948713/onlineResumePortfolio/bg_scewbe.gif") no-repeat;
        background-size: 100% auto;
        background-position: 20% 50%;
    }

    .home-a {
        height: 75vh;
    }

        .home-b {
            height: 75vh;
        }

        .home-b-card {
            height: 60vh;
        }

        .home-a-a h1 {
            font-size: 70px;
        }

        .home-a-a p {
            font-size: 20px;
        }

    .home-b-card-content h2 {
        font-size: 20px;
    }

    .home-b-card-content p {
        font-size: 11px;
    }

    .home-b-card-pic {
        background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945935/onlineResumePortfolio/aboutMePic01_snvmx1.jpg");
        width: 20vh;
        height: 20vh;
        background-size: 20vh 20vh;
        border-radius: 50%;
    }

    
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
    .homeP {  
        /* height: 122vh; */
        background: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669948713/onlineResumePortfolio/bg_scewbe.gif") no-repeat;
        background-size: 100% auto;
        background-position: 20% 50%;
    }

        .home-b {
            width: 30%;
            height: 80vh;
        }

        .home-b-card {
            height: 70vh;
        }

    .home-a-a h1 {
        font-size: 100px;
    }

    .home-b-card-content h2 {
        font-size: 25px;
    }

    .home-b-card-content p {
        font-size: 15px;
    }

    .home-b-card-pic {
        background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945935/onlineResumePortfolio/aboutMePic01_snvmx1.jpg");
        width: 30vh;
        height: 30vh;
        background-size: 30vh 30vh;
        border-radius: 30vh;
    }
}