

.skillsP {
    width: 100%;
    height: 108vh;

    justify-content: center;
    align-items: center;
    background-color: #17032d;
    /* background-color: red; */
}

.skillsP-con {
    width: 100%;
    height: 92vh;

    justify-content: space-evenly;
    /* background-color: deeppink; */
    background-color: #17032d;
}

    .skillsP-con-b {
        width: 100%;
        height: 60vh;
        overflow-x: hidden;
        color: #06d6a0;

        /* background-color: blueviolet; */
    }

    .skillsP-con-c {
        width: 100%;
        height: 27vh;
        overflow-x: hidden;
        overflow-y: hidden;

        /* background-color: coral; */
    }



.skillsP-end {
    width: 100%;
    height: 8vh;

    background-color: #17032d;
    }



/* ------------------------ Main divs above ------------------------*/
/* ------------------------ 1st card below ------------------------*/


    .skillsP-con-b-card-a {
        width: 75%;
        height: 95%;

        transform: translateX(400%);
        transition: transform 0.7s ease;
        /* background-color: white; */
        top: 30px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .skillsP-con-b-card-a:nth-of-type(even) {
        transform: translateX(-400%);
    }

    .skillsP-con-b-card-a.show {
        transform: translateX(0);
    }

        .skillsP-con-b-card-subCat-a h1 {
            height: 10%;
            columns: #06d6a0;
            /* background-color: red; */
        }

        .skillsP-con-b-card-aa {
            height: 20%;
            /* background-color: red; */
        }
        
        .skillsP-con-b-card-ab {
            height: 20%;
            /* background-color: red; */
        }
        
        .skillsP-con-b-card-ac {
            height: 20%;
            /* background-color: red; */
        }


        .skillsP-con-b-pic-a,
        .skillsP-con-b-pic-b,
        .skillsP-con-b-pic-c,
        .skillsP-con-b-pic-d,
        .skillsP-con-b-pic-e,
        .skillsP-con-b-pic-f,
        .skillsP-con-b-pic-g,
        .skillsP-con-b-pic-h,
        .skillsP-con-b-pic-i,
        .skillsP-con-b-pic-j,
        .skillsP-con-b-pic-k,
        .skillsP-con-b-pic-l {
            margin: 0 10px;
            height: 60px;
            /* background-color: red; */
        }

        .skillsP-con-b-pic-a,
        .skillsP-con-b-pic-b,
        .skillsP-con-b-pic-c {
            width: 50px;
        }
        .skillsP-con-b-pic-a {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945989/onlineResumePortfolio/skillsIcon01_i4vhtj.png");
        }
        .skillsP-con-b-pic-b {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945994/onlineResumePortfolio/skillsIcon02_iluzuq.png");
        }
        .skillsP-con-b-pic-c {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946006/onlineResumePortfolio/skillsIcon03_auue3i.png");
        }

        .skillsP-con-b-pic-d {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946008/onlineResumePortfolio/skillsIcon04_sxnu6n.png");
            width: 162px;
        }

        .skillsP-con-b-pic-e {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946009/onlineResumePortfolio/skillsIcon06_lo2ha5.png");
            width: 182px;
        }

        .skillsP-con-b-pic-f {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946011/onlineResumePortfolio/skillsIcon07_zeng10.png");
            width: 206px;
        }

        .skillsP-con-b-pic-g,
        .skillsP-con-b-pic-h,
        .skillsP-con-b-pic-i,
        .skillsP-con-b-pic-j,
        .skillsP-con-b-pic-k,
        .skillsP-con-b-pic-l {
            width: 60px;
            height: 60px;
        }
        .skillsP-con-b-pic-g {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946014/onlineResumePortfolio/skillsIcon09_pshkgl.png");
        }
        .skillsP-con-b-pic-h {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946015/onlineResumePortfolio/skillsIcon10_wqgxwy.png");
        }
        .skillsP-con-b-pic-i {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946014/onlineResumePortfolio/skillsIcon11_eb5lcs.png");
        }
        .skillsP-con-b-pic-j {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946015/onlineResumePortfolio/skillsIcon12_m3fppk.png");
        }
        .skillsP-con-b-pic-k {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946016/onlineResumePortfolio/skillsIcon13_na3c9h.png");
        }
        .skillsP-con-b-pic-l {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946017/onlineResumePortfolio/skillsIcon14_fzyi5r.png");
        }


.skillsP-con-b-card-subCat-a {
    width: 70%;
    height: 100%;

    border: 2px solid #06d6a0;
    border-radius: 30px;
    background-color: #17032d;
}

.skillsP-con-b-card-subCat-b {
    width: 30%;
    height: 85%;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: hidden;

    border-radius: 0 20px 20px 0;
    background-color: #06d6a0;
}
    .skillsP-con-b-card-subCat-b h5 {
        font-size: 16px;
        margin: 7px 0 0 0;
        padding: 0;
        color: #17032d;
        font-family: 'Sniglet', cursive;
        font-weight: bold;
        text-align: center;
    }
    .skillsP-con-b-card-subCat-b p {
        font-size: 13px;
        margin: 0;
        padding: 0;
        color: #17032d;
        font-family: 'Sniglet', cursive;
        text-align: center;
    }


/* ------------------------ 1nd card above ------------------------*/
/* ------------------------ 2nd card below ------------------------*/


    .skillsP-con-c-card-a {
        width: 40%;
        height: 90%;
    
        padding: 30px 0 0 30px;
        border: 1px solid #06d6a0;
        border-radius: 20px;
        transform: translateX(-400%);
        transition: transform 0.7s ease;
        /* background-color: white; */
    }
    
    .skillsP-con-c-card-a:nth-of-type(odd) {
        transform: translateX(-400%);
    }
    
    .skillsP-con-c-card-a.show {
        transform: translateX(0);
    }

    .skillsP-con-c-card-a ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .skillsP-con-c-card-a li, .skillsP-con-c-card-a h1 {
        margin: 0;
        padding: 0;
        color: #06d6a0;
    }
    .skillsP-con-c-card-a li {
        text-indent: 30px;
        font-family: 'Sniglet', cursive;
        font-size: 15px;
    }


/* ------------------------ 2nd card above ------------------------*/
/* ------------------------ Divider pink to purple below ------------------------*/

.skillsP-openingDivider {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('https://res.cloudinary.com/pjtobias4/image/upload/v1669945918/onlineResumePortfolio/layer1_dyzl7u.svg');
}



/* ------------------------ Divider pink to purple above ------------------------*/























































































@media screen and (max-width: 480px)  and (min-width: 300px){
    .skillsP {
        height: 128vh;
    }
    
    .skillsP-con {
        height: 112vh;
    }
    
        .skillsP-con-b {
            height: 85vh;
        }

        .skillsP-con-c {
            height: 22vh;
        }

            .skillsP-con-b-card-a {
                width: 75%;
                height: 95%;

                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                .skillsP-con-b-card-subCat-a {
                    width: 90%;
                    height: 50%;
                }
                
                .skillsP-con-b-card-subCat-b {
                    width: 70%;
                    height: 50%;
                
                    border-radius: 0 0 30px 30px;
                    background-color: #06d6a0;
                }

                    .skillsP-con-b-card-subCat-a h1 {
                        height: 10%;
                    }

                    .skillsP-con-b-card-aa,
                    .skillsP-con-b-card-aa,
                    .skillsP-con-b-card-aa {
                        height: 25%;
                    }
                
                .skillsP-con-b-card-aa,
                .skillsP-con-b-card-ab,
                .skillsP-con-b-card-ac {
                    flex-wrap: wrap;
                    /* margin-top: 10px; */
                }

        


        .skillsP-con-b-pic-a,
        .skillsP-con-b-pic-b,
        .skillsP-con-b-pic-c,
        .skillsP-con-b-pic-d,
        .skillsP-con-b-pic-e,
        .skillsP-con-b-pic-f,
        .skillsP-con-b-pic-g,
        .skillsP-con-b-pic-h,
        .skillsP-con-b-pic-i,
        .skillsP-con-b-pic-j,
        .skillsP-con-b-pic-k,
        .skillsP-con-b-pic-l {
            margin: 0 10px;
            height: 30px;
            /* background-color: red; */
        }

        .skillsP-con-b-pic-a,
        .skillsP-con-b-pic-b,
        .skillsP-con-b-pic-c {
            width: 25px;
        }
        .skillsP-con-b-pic-a {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945991/onlineResumePortfolio/skillsIcon01-30pxh_u7s7ey.png");
        }
        .skillsP-con-b-pic-b {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946000/onlineResumePortfolio/skillsIcon02-30pxh_f6iphl.png");
        }
        .skillsP-con-b-pic-c {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946003/onlineResumePortfolio/skillsIcon03-30pxh_ieyjta.png");
        }

        .skillsP-con-b-pic-d {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946013/onlineResumePortfolio/skillsIcon04-30pxh_b2ipef.png");
            width: 81px;
        }

        .skillsP-con-b-pic-e {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946010/onlineResumePortfolio/skillsIcon06-30pxh_zuywwh.png");
            width: 91px;
        }

        .skillsP-con-b-pic-f {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946013/onlineResumePortfolio/skillsIcon07-30pxh_jgyhaj.png");
            width: 103px;
        }

        .skillsP-con-b-pic-g,
        .skillsP-con-b-pic-h,
        .skillsP-con-b-pic-i,
        .skillsP-con-b-pic-j,
        .skillsP-con-b-pic-k,
        .skillsP-con-b-pic-l {
            width: 30px;
            height: 30px;
        }
        .skillsP-con-b-pic-g {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946012/onlineResumePortfolio/skillsIcon09-30pxh_v0vh5i.png");
        }
        .skillsP-con-b-pic-h {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946014/onlineResumePortfolio/skillsIcon10-30pxh_dfpxcd.png");
        }
        .skillsP-con-b-pic-i {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946015/onlineResumePortfolio/skillsIcon11-30pxh_tr8tit.png");
        }
        .skillsP-con-b-pic-j {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946016/onlineResumePortfolio/skillsIcon12-30pxh_qx6sqm.png");
        }
        .skillsP-con-b-pic-k {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946017/onlineResumePortfolio/skillsIcon13-30pxh_bjhdxo.png");
        }
        .skillsP-con-b-pic-l {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946019/onlineResumePortfolio/skillsIcon14-30pxh_zqi4vy.png");
        }



    .skillsP-con h1 {
        font-size: 15px;
    }

    .skillsP-con-b-card-subCat-b h5 {
        font-size: 10px;
    }
    .skillsP-con-b-card-subCat-b p {
        font-size: 8px;
    }
        .skillsP-con-c-card-a {
            width: 90%;
            height: 70%;
        }

            .skillsP-con-c-card-a li {
                text-indent: 2px;
                font-size: 9px;
            }
}    




@media screen and (max-width: 768px)  and (min-width: 481px){
    .skillsP {
        height: 128vh;
    }
    
    .skillsP-con {
        height: 112vh;
    }
    
        .skillsP-con-b {
            height: 80vh;
        }

            .skillsP-con-b-card-a {
                width: 75%;
                height: 95%;

                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                .skillsP-con-b-card-subCat-a {
                    width: 90%;
                    height: 40%;
                }
                
                .skillsP-con-b-card-subCat-b {
                    width: 70%;
                    height: 60%;
                
                    border-radius: 0 0 50px 50px;
                    background-color: #06d6a0;
                }

                    .skillsP-con-b-card-subCat-a h1 {
                        height: 20%;
                    }

                    .skillsP-con-b-card-aa,
                    .skillsP-con-b-card-aa,
                    .skillsP-con-b-card-aa {
                        height: 18%;
                    }
                
                .skillsP-con-b-card-aa,
                .skillsP-con-b-card-ab,
                .skillsP-con-b-card-ac {
                    flex-wrap: wrap;
                    /* margin-top: 10px; */
                }

        


        .skillsP-con-b-pic-a,
        .skillsP-con-b-pic-b,
        .skillsP-con-b-pic-c,
        .skillsP-con-b-pic-d,
        .skillsP-con-b-pic-e,
        .skillsP-con-b-pic-f,
        .skillsP-con-b-pic-g,
        .skillsP-con-b-pic-h,
        .skillsP-con-b-pic-i,
        .skillsP-con-b-pic-j,
        .skillsP-con-b-pic-k,
        .skillsP-con-b-pic-l {
            margin: 0 10px;
            height: 30px;
            /* background-color: red; */
        }

        .skillsP-con-b-pic-a,
        .skillsP-con-b-pic-b,
        .skillsP-con-b-pic-c {
            width: 25px;
        }
        .skillsP-con-b-pic-a {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945991/onlineResumePortfolio/skillsIcon01-30pxh_u7s7ey.png");
        }
        .skillsP-con-b-pic-b {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946000/onlineResumePortfolio/skillsIcon02-30pxh_f6iphl.png");
        }
        .skillsP-con-b-pic-c {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946003/onlineResumePortfolio/skillsIcon03-30pxh_ieyjta.png");
        }

        .skillsP-con-b-pic-d {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946013/onlineResumePortfolio/skillsIcon04-30pxh_b2ipef.png");
            width: 81px;
        }

        .skillsP-con-b-pic-e {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946010/onlineResumePortfolio/skillsIcon06-30pxh_zuywwh.png");
            width: 91px;
        }

        .skillsP-con-b-pic-f {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946013/onlineResumePortfolio/skillsIcon07-30pxh_jgyhaj.png");
            width: 103px;
        }

        .skillsP-con-b-pic-g,
        .skillsP-con-b-pic-h,
        .skillsP-con-b-pic-i,
        .skillsP-con-b-pic-j,
        .skillsP-con-b-pic-k,
        .skillsP-con-b-pic-l {
            width: 30px;
            height: 30px;
        }
        .skillsP-con-b-pic-g {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946012/onlineResumePortfolio/skillsIcon09-30pxh_v0vh5i.png");
        }
        .skillsP-con-b-pic-h {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946014/onlineResumePortfolio/skillsIcon10-30pxh_dfpxcd.png");
        }
        .skillsP-con-b-pic-i {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946015/onlineResumePortfolio/skillsIcon11-30pxh_tr8tit.png");
        }
        .skillsP-con-b-pic-j {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946016/onlineResumePortfolio/skillsIcon12-30pxh_qx6sqm.png");
        }
        .skillsP-con-b-pic-k {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946017/onlineResumePortfolio/skillsIcon13-30pxh_bjhdxo.png");
        }
        .skillsP-con-b-pic-l {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946019/onlineResumePortfolio/skillsIcon14-30pxh_zqi4vy.png");
        }



    .skillsP-con h1 {
        font-size: 20px;
    }

    .skillsP-con-b-card-subCat-b h5 {
        font-size: 14px;
    }
    .skillsP-con-b-card-subCat-b p {
        font-size: 11px;
    }



        .skillsP-con-c-card-a {
            width: 70%;
            height: 70%;
        }

            .skillsP-con-c-card-a li {
                text-indent: 10px;
                font-size: 13px;
            }
}




@media screen and (max-width: 1024px) and (min-width: 769px) {
    .skillsP {
        height: 108vh;
    }
    
    .skillsP-con {
        height: 92vh;
    }
    
        .skillsP-con-b {
            height: 60vh;
        }

        .skillsP-con-b-card-subCat-a,
        .skillsP-con-b-card-subCat-b{
            width: 50%;
        }

            .skillsP-con-b-card-subCat-a h1 {
                height: 5%;
            }

            .skillsP-con-b-card-aa,
            .skillsP-con-b-card-aa,
            .skillsP-con-b-card-aa {
                height: 25%;
            }
        
        .skillsP-con-b-card-aa,
        .skillsP-con-b-card-ab,
        .skillsP-con-b-card-ac {
            flex-wrap: wrap;
            margin-top: 20px;
        }



        .skillsP-con-b-pic-a,
        .skillsP-con-b-pic-b,
        .skillsP-con-b-pic-c,
        .skillsP-con-b-pic-d,
        .skillsP-con-b-pic-e,
        .skillsP-con-b-pic-f,
        .skillsP-con-b-pic-g,
        .skillsP-con-b-pic-h,
        .skillsP-con-b-pic-i,
        .skillsP-con-b-pic-j,
        .skillsP-con-b-pic-k,
        .skillsP-con-b-pic-l {
            margin: 0 10px;
            height: 50px;
            /* background-color: red; */
        }

        .skillsP-con-b-pic-a,
        .skillsP-con-b-pic-b,
        .skillsP-con-b-pic-c {
            width: 42px;
        }
        .skillsP-con-b-pic-a {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945998/onlineResumePortfolio/skillsIcon01-50pxh_rdzms0.png");
        }
        .skillsP-con-b-pic-b {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946001/onlineResumePortfolio/skillsIcon02-50pxh_d0guzb.png");
        }
        .skillsP-con-b-pic-c {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946008/onlineResumePortfolio/skillsIcon03-50pxh_b6ku8l.png");
        }

        .skillsP-con-b-pic-d {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946008/onlineResumePortfolio/skillsIcon04-50pxh_ohayn6.png");
            width: 135px;
        }

        .skillsP-con-b-pic-e {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946012/onlineResumePortfolio/skillsIcon06-50pxh_xgqkqs.png");
            width: 152px;
        }

        .skillsP-con-b-pic-f {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946013/onlineResumePortfolio/skillsIcon07-50pxh_j3bwxm.png");
            width: 172px;
        }

        .skillsP-con-b-pic-g,
        .skillsP-con-b-pic-h,
        .skillsP-con-b-pic-i,
        .skillsP-con-b-pic-j,
        .skillsP-con-b-pic-k,
        .skillsP-con-b-pic-l {
            width: 50px;
            height: 50px;
        }
        .skillsP-con-b-pic-g {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946014/onlineResumePortfolio/skillsIcon09-50pxh_e8iep0.png");
        }
        .skillsP-con-b-pic-h {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946015/onlineResumePortfolio/skillsIcon10-50pxh_bfz7ay.png");
        }
        .skillsP-con-b-pic-i {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946015/onlineResumePortfolio/skillsIcon11-50pxh_wo2du6.png");
        }
        .skillsP-con-b-pic-j {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946016/onlineResumePortfolio/skillsIcon12-50pxh_jgthn5.png");
        }
        .skillsP-con-b-pic-k {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946016/onlineResumePortfolio/skillsIcon13-50pxh_jxbcfw.png");
        }
        .skillsP-con-b-pic-l {
            background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669946017/onlineResumePortfolio/skillsIcon14-50pxh_rclxpf.png");
        }



    .skillsP-con h1 {
        font-size: 20px;
    }

    .skillsP-con-c-card-a {
        width: 50%;
        height: 70%;
    }

        .skillsP-con-c-card-a li {
            text-indent: 10px;
            font-size: 13px;
        }
}




@media screen and (max-width: 1200px) and (min-width: 1025px) {
    .skillsP-con-b-card-subCat-b h5 {
        font-size: 14px;
    }
}

