* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}



/* 

green -- #06d6a0;
purple -- #17032d;
pink -- #ef476f;

 */







/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px #17032d; */
    /*rgba(0, 0, 0, .0)*/
    box-shadow: inset 0 0 1000px #17032d;
    border-radius: 10px;
    /* border-color: none; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #06d6a0;  */
    background: #ef476f; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #812238; 
  }













/* font-family: 'Alfa Slab One', cursive; */
/* font-family: 'Sniglet', cursive; */


/*
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
*/

.font-a {
    font-family: 'Alfa Slab One', cursive;
    /* ito yung Bold font */
}

.font-b {
	/* font-family: 'Archivo Black', sans-serif; */
    font-family: 'Sniglet', cursive;
    /* ito yung handwritting typish font */
}

.font-c {
	font-family: 'Noto Sans', sans-serif;
}



















.flexColumn {
	display: flex;
	flex-direction: column;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.justifyAlignCenter {
	justify-content: center;
	align-items: center;
}

.justifyAlignStartCenter {
	justify-content: flex-start;
	align-items: center;
}



















.btn-a {
	/* width: 200px; */
	height: 40px;
	background-color: #ef476f;
	color: #fff;
	text-decoration: none;
	padding: 0 40px;    
	transition: 0.8s;
	-webkit-border-radius:70px 70px;
	-moz-border-radius:70px 70px;
	border-radius: 70px 70px;
}

.btn-a:hover {
	color: #fff;
	background-color: #06d6a0;
	transition: 0.8s;
    text-decoration: none;

	-webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);

}









































.pj-navbar-b {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    background-color: #17032d;
    /* color: white; */
    border-bottom: 1px solid #06d6a0;
    top: 0;
    left: 0;
    z-index: 1;
}

.pj-brand-title-b {
    margin: 0;
    height: 8vh;
    width: 10vh;
    background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945928/onlineResumePortfolio/logo_excgor.png");
    background-repeat: no-repeat;
    background-position: center;
}

.pj-brand-title-b:hover {
    margin: 0;
    height: 8vh;
    width: 10vh;
    background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945929/onlineResumePortfolio/logob_e9owzj.png");
    background-repeat: no-repeat;
    background-position: center;
}

.pj-navbar-links-b {
    height: 100%;
}

.pj-navbar-links-b ul {
    height: 8vh;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.pj-navbar-links-b li {
    height: 8vh;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 2rem; 
    
}

.pj-navbar-links-b li a {
    display: block;
    text-decoration: none;
    color: #ef476f;
    padding: 1rem;
    transition: 0.8s;
}

.pj-navbar-links-b li a:hover {
    /* background-color: #555; */
    color: #06d6a0;
    transition: 0.8s;
}

.pj-toggle-button-b {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.pj-toggle-button-b .pj-bar-b {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

















@media screen and (max-width: 600px) {

    .pj-brand-title-b {
        background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945935/onlineResumePortfolio/logoSmaller_c4htio.png");
    }

    .pj-navbar-links-b li {
        font-size: .5rem;
        margin: .1rem;
    }

}


@media screen and (max-width: 900px) and (min-width: 601px) {

    .pj-brand-title-b {
        background-image: url("https://res.cloudinary.com/pjtobias4/image/upload/v1669945934/onlineResumePortfolio/logoSmallerb_xsvrcp.png");
    }

    .pj-navbar-links-b li {
        font-size: .8rem;
        margin: .9rem;
    }

}




















#spaceForNavCon {
	width: 100%;
	height: 8vh;
	/* background-color: gray; */
	background-color: #17032d;
}

.spaceForNav {
	width: 100%;
	height: 8vh;
	/* background-color: gray; */
	background-color: #17032d;
}


.spaceForNav-02 {
	width: 100%;
	height: 8vh;
	/* background-color: gray; */
	background-color: #06d6a0;
}















/* 

@media screen and (max-width: 480px)  and (min-width: 300px){

}    




@media screen and (max-width: 768px)  and (min-width: 481px){

}




@media screen and (max-width: 1024px) and (min-width: 769px) {

}




@media screen and (max-width: 1200px) and (min-width: 1025px) {

}

 */






